.st2{
    background-image: url(./images/276586445270dcca0bc561a0186973ac284c8961.png);    
    background-repeat: no-repeat;
    width: 100%;
    height: 747px;
    background-size: cover;

}
.st4{
    background-image: url(./images/Video\ \(1\).png);    
    background-repeat: no-repeat;
    width: 100%;
    height: 747px;
    background-size: cover;

}
.st6{
    background-image: url(./images/bfc42dbf6e765e21a4a3aa473c96874e358cad6f.png);    
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;

}