.bg1 {
    background-image: url(./foto/7838d2af982259a96f988a19c294dad5d4ce1148.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
}
.bg2 {
    background-image: url(./foto/Text-media-new_background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
}